---
layout: null
permalink: /resume_en-US.html
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.data.resume_enus.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/resume.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div id="name-wrapper">
          <div id="fullname">
            {{ site.data.resume_enus.name }}
          </div>
          <div id="jobtitle">
            {{ site.data.resume_enus.jobtitle }}
          </div>
        </div>
        <div id="contact">
          {% for item in site.data.resume_enus.contact %}
          <div class="contact-item">
            {{ item.title }}: {{ item.text }}
          </div>
          {% endfor %}
          <div class="contact-item">
            <a href="index.html">Simplified Chinese</a> | English
          </div>
        </div>
      </header>
      <section id="education">
        <div class="section-title">
         Summary
        </div>
        <div class="section-content">
          <div class="block">
            <div class="block-content">
              {{ site.data.resume_enus.self_introduction }}
            </div>
          </div>
        </div>
      </section>
      <section id="education">
        <div class="section-title">
          Education
        </div>
        <div class="section-content">
          {% for edu in site.data.resume_enus.education %}
          <div class="block">
            <div class="block-title">
              {{ edu.university }}
            </div>
            <div class="block-subtitle">
              {{ edu.duration }} | {{ edu.location }}
            </div>
            <div class="block-content">
              {{ edu.major }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="grades">
        <div class="section-title">
          Grades
        </div>
        <div class="section-content">
          {% for grade in site.data.resume_enus.grades %}
          <div class="block">
            <div class="block-title">
              {{ grade.title }}
            </div>
            <div class="block-subtitle">
              {{ grade.notice }}
            </div>
            <div class="block-content">
              {{ grade.scores }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>


      <section id="experience">
        <div class="section-title">
          Experience
        </div>
        <div class="section-content">
          {% for exp in site.data.resume_enus.experience %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
            <div class="block-subtitle">
              {{ exp.duration }} | {{ exp.company }}
            </div>
            <div class="block-content">
              {{ exp.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="publications">
        <div class="section-title">
           Publications
        </div>
        <div class="section-content">
          {% for publication in site.data.resume_enus.publications %}
          <div class="block">
            <div class="block-title">
              {{ publication.title }}
            </div>
            <div class="block-subtitle">
              {{ publication.description }}
            </div>
            <div class="block-content">
              {{ publication.content }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="experience">
        <div class="section-title">
          Academic
        </div>
        <div class="section-content">
          {% for exp in site.data.resume_enus.academic_prize %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
            <div class="block-subtitle">
              {{ exp.description }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
     <section id="experience">
        <div class="section-title">
          Competition
        </div>
        <div class="section-content">
          {% for exp in site.data.resume_enus.contest_prize %}
          <div class="block">
            <div class="block-title">
              {{ exp.title }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
 


      <section id="projects">
        <div class="section-title">
          Projects
        </div>
        <div class="section-content">
          <div class="block">
            <div class="block-title">
              National Training Programs of Innovation and Entrepreneurship for Undergraduates(Captain)
            </div>
            <div class="block-subtitle">
              Internet plus urine and blood glucose analyzer based on Cloud Computing, 2017
            </div>
            <div class="block-content">
              It is composed of four students from Software Engineering, Electronics and Clinical School. The project is mainly aimed at a urine and blood test and analysis hardware and software for uremic and diabetic patients. Source Code publiced in <a href="https://github.com/Hzzone/niaodaifu">Github</a>, the main related technologies are Spring Boot, Mybatis and so on.
            </div>
          </div>
        </div>
      </section>

      <section id="skills">
        <div class="section-title">
          Pro-Skills
        </div>
        <div class="section-content">
          {% for skill in site.data.resume_enus.skills %}
          <div class="block">
            <div class="block-title">
              {{ skill.title }}
            </div>
            <div class="block-content">
              {{ skill.items }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="skills">
        <div class="section-title">
          Other Projects
          <div class="block-content">
              Open source at GitHub, providing source code and related introduction
          </div>
        </div>
      </section>


      {% for items in site.data.resume_enus.projects %}
      <section id="projects">
        <div class="section-title">
          {{ items.name }}
        </div>
        <div class="section-content">
          {% for item in items.project %}
          <div class="block">
            <div class="block-title">
              {{ item.title }}
            </div>
            <div class="block-subtitle">
              <a href="{{ item.github }}">Github</a> |
              {{ item.description }}
            </div>
<!--             <div class="block-content">
              {{ item.content }}
            </div>
 -->          </div>
          {% endfor %}
        </div>
      </section>
      {% endfor %}

    </div>
    <footer>
      Made <i class="fa fa-heart aria-hidden="true></i> by <a href="https://hzzone.io/">Hzzone</a> ( <a href="https://hzzone.io/ZhizhongHuang_resume_en-US.pdf">PDF下载</a> )
    </footer>
  </body>
</html>
